#header {
  position: fixed;
  top: 0; left: 0;
  z-index: 10;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  height: 50px;
  box-shadow: #ddd 0 0 10px 5px;
  background:rgb(252, 252, 252);
  animation: fade-in 0.3s ease-in-out;
}
.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  font-size: 0;
  transition: opacity 0.5s;
  opacity: 0.8;
  cursor: pointer;
}
.logo:hover {
  opacity: 1;
}
.head {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('../img/night.png');
}

/* qna로 넘어갈 때 display: none; */
#footer {
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 10px 25px;
  box-shadow: #ddd 0 0 15px 2px;
  background: rgb(252, 252, 252);
  font-weight: lighter;
  animation: fade-in 0.3s ease-in-out 2s both;
  opacity: 0;
}
#footer > div {
  float: left;
  box-sizing: border-box;
  margin: 10px 0;
  height: 30px;
}
.highlight {
  color: rgb(87, 58, 189);
  font-weight: bolder;
}
.foot {
  margin: 5px;
  width: 30px;
  height: 30px;
}
.github {
  float: right;
  background-image: url("../img/github-logo.png");
}
.tistory {
  float: right;
  background-image: url("../img/tistory-logo.svg");
  /*
      로고 출처 : https://marshall-ku.tistory.com/134
      감사합니다!!
  */
}

@media all and (min-width: 768px) {
  /* qna에서 margin-top을 없애야 함 */
  #header {
    margin: 0 10%;
    padding: 12.5px;
    width: 80%;
    height: 80px;
    border-radius: 20px;
  }
  .logo {
    width: 55px;
    height: 55px;
  }
  #footer {
    margin: 40px 10% 0 10%;
    padding: 15px 30px;
    width: 80%;
    height: 80px;
    border-radius: 20px;
  }
  .foot {
    margin: 5px;
    width: 35px;
    height: 35px;
}
  #footer > div {
    box-sizing: border-box;
    margin: 20px 0;
    height: 30px;
  }
}

@media all and (min-width: 1024px) {
  #header {
    margin: 0 15%;
    padding: 15px;
    width: 70%;
    height: 100px;
    border-radius: 30px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  #footer {
    margin: 60px 15% 0 15%;
    padding: 25px 30px;
    width: 70%;
    height: 100px;
    border-radius: 30px;
  }
  .foot {
    margin: 5px;
    width: 40px;
    height: 40px;
  }
}

@media all and (min-width: 1440px) {
  #header {
    margin: 0 22.5%;
    padding: 15px;
    width: 55%;
    height: 100px;
  }
  #footer {
    margin: 80px 22.5% 0 22.5%;
    padding: 25px 30px;
    width: 55%;
    height: 100px;
  }
  
}