/* 
    welcome 페이지가 아닌 페이지에서
    #wrap의 margin-top 값을 바꿔줘야 함
*/


@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

/* animation */
@keyframes flicker {
    0% {background-color: rgba(0, 135, 245, 0.9);}
    50% {background-color: rgba(0, 135, 245, 0.6);}
    100% {background-color: rgba(0, 135, 245, 0.9);}
   }
    
@-webkit-keyframes flicker {
    0% {background-color: rgba(0, 135, 245, 0.9);}
    50% {background-color: rgba(0, 135, 245, 0.6);}
    100% {background-color: rgba(0, 135, 245, 0.9);}
}

/* style */
body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eafffc+0,f0e8ff+100 */
    background: #eafffc; /* Old browsers */
    background: -moz-linear-gradient(left,  #eafffc 0%, #f0e8ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #eafffc 0%,#f0e8ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #eafffc 0%,#f0e8ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafffc', endColorstr='#f0e8ff',GradientType=1 ); /* IE6-9 */
}
/* qna에서 display: none; */
#wrap {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
/* qna에서 display: none; */
#header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0; left: 0;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5px;
    background:rgb(252, 252, 252);
    box-shadow: #ddd 0 0 10px 5px;
    z-index: 10;
}
.logo {
    display: inline-block;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 0.8;
}
.logo:hover {
    opacity: 1;
}
.head {
    background-image: url("../img/logo.png");
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    box-sizing: border-box;
    min-width: 90%;
    width: 90%;
    padding: 40px 5% 25px 5%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}
#welcome {
    background: rgb(252, 252, 252);
    box-shadow: #ddd 0px 0px 10px 5px;
    min-height: 100vh;
}
#title-box {
    text-align: center;
}
#title-box > div {
    margin: 10px 0 auto;
}
#title-box > div:first-child {
    margin-top: 0px;
}
#title-box > div:last-child {
    margin-bottom: 0px;
}
.title {
    font-size: 35px;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: -3px;
    letter-spacing: -0.2rem;
    line-height: 42px;
    line-height: 3rem;
}
.sec-tit {
    font-size: 21px;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 6.4px;
    letter-spacing: 0.4rem;
    line-height: 30.8px;
    line-height: 2.2rem;
}

.start-wrap {
    margin-top: 50px;
    width: 90%;
    left: 5%;
    transform: translateX(5%);
}
.start {
    background-color: rgba(0, 135, 245, 0.9);
    box-sizing: border-box;
    min-width: 90%;
    height: 60px;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    font-size: 2rem;
    animation: flicker 2.5s infinite;
    cursor: pointer;
}  
.start:hover {
    animation-play-state: paused;
}
.start:active {
    animation-play-state: running;
}
    
/* qna로 넘어갈 때 display: block; */
#qna {
    /*display: none;*/
}
.status-bar {
    width: 90%;
    margin: 0 auto;
    height: 10px;
    background: transparent;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 3px solid #ddd;
    background: #fff;
}
.status {
    /* 임시 */
    width: 60%;
    height: 100%;
    background: rgba(161, 127, 255, 0.8);
    border-radius: 20px;
}
.box {
    margin: 0 auto;
    width: 90%;
    background: rgb(252, 252, 252);
    box-shadow: #ddd 0px 0px 10px 5px;
    padding: 20px;
    border-radius: 20px;
}
.q {
    margin: 0 auto;
    font-size: 23.8px;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 60px;
}
.answer {
    margin: 0 auto;
    font-size: 18.2px;
    font-size: 1.3rem;
    font-weight: bolder;
}
.a {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.2s linear;
}
.a:hover {
    background: #222;
    color: #eee;
}

#calc {
    display: none;
}

/* result로 넘어갈 때 display: block; */
#result {
    /*display: none;*/
    background: rgb(252, 252, 252);
    box-shadow: #ddd 0px 0px 10px 5px;
    min-height: 100vh;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
#score-box {
    margin-bottom: 50px;
}
#score-box > .score {
    margin: 10px 0 50px 0;
    font-size: 56px;
    font-size: 4rem;
    font-weight: bolder;
}
.pin {
    background-image: url('../img/down-pin.png');
    background-size: cover;
    width: 30px; 
    height: 30px;
    /* margin 나중에 지우기 */
    margin-left: 44%;
}
.score-bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6fb7e8+0,855299+50,af3838+100 */
    background: #6fb7e8; /* Old browsers */
    background: -moz-linear-gradient(left,  #6fb7e8 0%, #855299 50%, #af3838 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #6fb7e8 0%,#855299 50%,#af3838 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #6fb7e8 0%,#855299 50%,#af3838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fb7e8', endColorstr='#af3838',GradientType=1 ); /* IE6-9 */
    width: 100%;
    height: 50px;
    border-radius: 50px;
}
.art {
    height: 600px;
    width: 100%;
    box-shadow: #ddd 0px 0px 10px 5px;
    margin-bottom: 40px;
}
.desc {
    margin: 30px 5% 80px 5%;
    width: 90%;
    font-size: 15.4px;
    font-size: 1.1rem;
    font-weight: 350;
    line-height: 25.2px;
    line-height: 1.8rem;
}
hr {
    margin: 20px 0 10px 0;
    border: 1.5px dashed #222;
}
#intro-box {
    padding-top: 60px;
}
.pro_pic {
    background-image: url('../img/gyeoly.jpg');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0.7;
    transition: opacity 0.2s ease-out;
}
.pro_pic:hover {
    opacity: 1.0;
}
.art-name {
    margin: 10px 0 35px 0;
    font-size: 23.8px;
    font-size: 1.7rem;
    font-weight: bolder;
}
.artist {
    margin: 0 5% 30px 5%;
}
.btn {
    box-sizing: border-box;
    width: 40%;
    height: 50px;
    margin: 0 30%;
    background: rgba(167, 105, 218, 0.7);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px 0;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
}
.btn > a {
    display: inline-block;
    color: #fff;
    min-width: 100%;
    min-height: 100%;
}
.art-sns {
    margin-bottom: 30px;
}
.art-sns:hover {
    background: rgba(167, 105, 218, 1.0);
}
#intro-box ~ p {
    display: inline-block;
    margin-top: 20px;
    font-size: 21px;
    font-size: 1.5rem;
    font-weight: bolder;
}
#share-box {
    box-sizing: border-box;
    width: 80%;
    margin: 25px 10% 30px 10%;
    background: #222;
    height: 50px;
    border-radius: 40px;
    padding: 10px;
}
#share-box > span {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}
.ig {
    background-image: url('../img/ig.svg');
    /* 
    자료 출처
    https://ko.m.wikipedia.org/wiki/%ED%8C%8C%EC%9D%BC:Instagram_logo_2016.svg
    */
}
.tw {
    background-image: url('../img/tw.svg');
    /* 
    자료 출처
    http://www.vectorico.com/twitter-logo-white-on-blue/
    */
}
.fb {
    background-image: url('../img/fb.svg');
    /* 
    자료 출처
    https://commons.wikimedia.org/wiki/File:Facebook_f_logo_(2019).svg
    */
}
.katalk {
    background-image: url('../img/katalk.png')
    /*
    자료 출처
    https://forhappywomen.com/archives/3015
    */
}
.go-origin {
    margin: 30px 10% 0 10%;
    width: 80%;
}

/* qna로 넘어갈 때 display: none; */
#footer {
    z-index: 10;
    background: rgb(252, 252, 252);
    width: 100%;
    height: 60px;
    padding: 10px 25px;
    box-sizing: border-box;
    font-weight: lighter;
    box-shadow: #ddd 0 0 15px 2px;
}
.highlight {
    color: rgb(87, 58, 189);
    font-weight: bolder;
}
.foot {
    margin: 5px;
    width: 25px;
    height: 25px;
}
.github {
    float: right;
    background-image: url("../img/github-logo.png");
}
.tistory {
    float: right;
    background-image: url("../img/tistory-logo.svg");
    /*
        로고 출처 : https://marshall-ku.tistory.com/134
        감사합니다!!
    */
}

/* media query */
@media all and (min-width: 486px) {
    .title {
        font-size: 44.8px;
        font-size: 3.2rem;
        line-height: 64px;
        line-height: 4rem;
    }
    .sec-tit {
        font-size: 28px;
        font-size: 2rem;
        line-height: 49.2px;
        line-height: 3.3rem;
    }
}

@media all and (min-width: 768px) {
    /* qna에서 margin-top을 없애야 함 */
    #wrap {
        margin-top: 115px;
    }
    #header {
        width: 80%;
        height: 80px;
        margin: 0 10%;
        padding: 12.5px;
        border-radius: 12.5px;
    }
    .logo {
        width: 55px;
        height: 55px;
    }
    .container {
        min-width: 80%;
        width: 80%;
        padding: 90px 5% 37.5px 5%;
        border-radius: 20px;
    }
    #title-box > div {
        margin: 70px 0 auto;
    }
    .title {
        font-size: 51.8px;
        font-size: 3.7rem;
        line-height: 70px;
        line-height: 5rem;
    }
    .sec-tit {
        font-size: 35px;
        font-size: 2.5rem;
        font-weight: lighter;
        letter-spacing: 7px;
        letter-spacing: 0.5rem;
        line-height: 56px;
        line-height: 4rem;
    }
    .start-wrap {
        margin-top: 100px;
        width: 80%;
        left: 12.5%;
        transform: translateX(12.5%);
    }
    .start {
        min-width: 80%;
        height: 100px;
        padding: 20px;
        font-size: 42px;
        font-size: 3rem;
    }
    #footer {
        margin: 40px 10% 0 10%;
        width: 80%;
        height: 80px;
        padding: 15px 30px;
        border-radius: 20px;
    }
    .foot {
        margin: 5px;
        width: 35px;
        height: 35px;
    }
    #qna {
        /*display: none;*/
    }
    .status-bar {
        width: 80%;
    }
    .status {
        /* 임시 */
    }
    .box {
        margin: 0 auto;
        width: 80%;
        background: rgb(252, 252, 252);
        box-shadow: #ddd 0px 0px 10px 5px;
        padding: 30px;
        border-radius: 20px;
    }
    .q {
        margin: 0 auto;
        font-size: 32px;
        font-size: 2rem;
        margin-bottom: 80px;
    }
    .answer {
        margin: 0 auto;
        font-size: 21px;
        font-size: 1.5rem;
    }
    .a {
        margin: 30px auto;
    }
    .desc {
        font-size: 16.8px;
        font-size: 1.2rem;
        line-height: 28px;
        line-height: 2rem;
    }
    .artist {
        margin-bottom: 40px;
    }
}

@media all and (min-width: 1024px) {
    /* qna에서 margin-top을 없애야 함 */
    #wrap {
        margin-top: 150px;
    }
    #header {
        width: 70%;
        height: 100px;
        margin: 0 15%;
        padding: 15px;
    }
    .logo {
        width: 70px;
        height: 70px;
    }
    .container {
        min-width: 70%;
        width: 70%;
        padding: 100px 2.5% 50px 2.5%;
    }
    #title-box > div {
        margin: 90px 0 auto;
    }
    .title {
        font-size: 58.8px;
        font-size: 4.2rem;
        line-height: 77px;
        line-height: 5.5rem;
    }
    .sec-tit {
        font-size: 35px;
        font-size: 2.5rem;
        font-weight: lighter;
        line-height: 49px;
        line-height: 3.5rem;
    }
    
    .start-wrap {
        margin-top: 100px;
        width: 70%;
        left: 20%;
        transform: translateX(20%);
    }
    .start {
        min-width: 70%;
        height: 120px;
        padding: 30px;
        font-size: 49px;
        font-size: 3.5rem;
    }
    #footer {
        margin: 50px 15% 0 15%;
        width: 70%;
        height: 100px;
        padding: 25px 30px;
    }
    .foot {
        margin: 5px;
        width: 40px;
        height: 40px;
    }
    #qna {
        /*display: none;*/
    }
    .status-bar {
        width: 70%;
    }
    .status {
        /* 임시 */
    }
    .box {
        width: 70%;
        background: rgb(252, 252, 252);
        box-shadow: #ddd 0px 0px 10px 5px;
        padding: 30px;
        border-radius: 20px;
    }
    .q {
        font-size: 35px;
        font-size: 2.5rem;
        margin-bottom: 80px;
    }
    .answer {
        font-size: 25.2px;
        font-size: 1.8rem;
    }
    .desc {
        font-size: 18.2px;
        font-size: 1.3rem;
        line-height: 29.4px;
        line-height: 2.1rem;
    }
}

@media all and (min-width: 1440px) {
    .desc {
        width: 80%;
        margin: 30px 10% 80px 10%;
        font-size: 19.6px;
        font-size: 1.4rem;
        line-height: 30.8px;
        line-height: 2.2rem;
    }
}