@charset "utf-8";
html, body { 
    overflow-x: hidden;
}    
body, p, input {
    margin: 0;
    padding: 0;
    line-height: 1;
}
/* HTML5 display-role reset for older browsers */
header, footer, section { 
    display: block; 
}

a {
    text-decoration: none;
}
::selection {
    background: #333; 
    color: rgb(0, 205, 245);
}
button {
    border: none;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
}