html, body { 
    overflow-x: hidden;
}    
body, p {
    margin: 0;
    padding: 0;
    line-height: 1;
}
/* HTML5 display-role reset for older browsers */
header, footer, section { 
    display: block; 
}
a {
    text-decoration: none;
    color: rgba(64, 64, 255, 0.7);
}
a:visited {
    color: rgba(211, 0, 0, 0.7);
}