/* result로 넘어갈 때 display: block; */
#result {
  display: none;
  min-height: 100vh;
  box-shadow: #ddd 0px 0px 10px 5px;
  background: rgb(252, 252, 252);
  text-align: center;
  word-break: keep-all;
  opacity: 0;
}
#score-box {
  margin-bottom: 50px;
}
#score-box > .title {
  animation: fade-in 0.6s ease-out 0.4s forwards, 
          going-down 0.6s ease-out 0.4s forwards;
  opacity: 0;
}
#score-box > .point {
  margin: 10px 0 50px 0;
  font-size: 64px;
  font-size: 4rem;
  font-weight: bolder;
  animation: fade-in 0.6s ease-out 1.8s forwards, 
          going-down 0.6s ease-out 1.8s forwards;
  opacity: 0;
}
.pin {
  width: 30px; 
  height: 30px;
  background-image: url('../img/pin.png');
  background-size: cover;
  animation: fade-in 0.5s ease-out 2.6s forwards, 
          going-down 0.5s ease-out 2.6s forwards;
  opacity: 0;
}
.score-bar {
  margin: 0 5%;
  width: 90%;
  height: 50px;
  border-radius: 50px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6fb7e8+0,855299+50,af3838+100 */
  background: #6fb7e8; /* Old browsers */
  background: -moz-linear-gradient(left,  #6fb7e8 0%, #855299 50%, #af3838 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #6fb7e8 0%,#855299 50%,#af3838 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #6fb7e8 0%,#855299 50%,#af3838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fb7e8', endColorstr='#af3838',GradientType=1 ); /* IE6-9 */
  animation: fade-in 0.5s ease-out 2.5s forwards, 
          going-down 0.5s ease-out 2.5s forwards;
  opacity: 0;
}
.art {
  margin-bottom: 40px;
  width: 100%;
  height: 90vh;
  max-height: 700px;
  box-shadow: #ddd 0px 0px 10px 5px;
  background-color: #fff;
  animation: fade-in 0.3s ease-out 3.2s both, 
          going-down 0.3s ease-out 3.2s both;
  opacity: 0;
}
.art > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.desc {
  margin: 30px 7.5%;
  width: 85%;
  line-height: 28.8px;
  line-height: 1.8rem;
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: 350;
}
#desc-box ~ p {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.go-artist {
  font-weight: bolder;
  cursor: pointer;
}
#share-box {
  box-sizing: border-box;
  margin: 25px 10% 30px 10%;
  padding: 10px;
  width: 80%;
  height: 50px;
  border-radius: 40px;
  background: #222;
}
#share-box span {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}
.tw {
  background-image: url('../img/tw.svg');
  /* 
  자료 출처
  http://www.vectorico.com/twitter-logo-white-on-blue/
  */
}
.fb {
  background-image: url('../img/fb.svg');
  /* 
  자료 출처
  https://commons.wikimedia.org/wiki/File:Facebook_f_logo_(2019).svg
  */
}
.nv {
  background-image: url('../img/naver.png');
  /*
  자료 출처
  https://www.facebook.com/184030231730640/photos/1175959155871071/
  */
}
.band {
  background-image: url('../img/band.png');
  /*
  자료 출처
  https://upload.wikimedia.org/wikipedia/commons/3/30/2._BAND_Icon.png
  */
}
.btn {
  box-sizing: border-box;
  margin: 0 30% 5px 30%;
  width: 40%;
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  background: rgba(167, 105, 218, 0.7);
  color: #fff;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  background: rgba(167, 105, 218, 1.0);
}
.btn > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.hash {
  padding: 15px 7.5% 0;
  color: rgba(0, 135, 245);
  font-weight: bold;
  word-wrap: break-word;
}
#intro-box {
  padding-top: 20px;
}
.pro_pic {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('../img/gyeoly.jpg');
  background-size: cover;
  transition: all 0.2s ease-out;
}
.pro_pic:hover {
  transform: scale(1.05);
}
.art-name {
  margin: 10px 0 20px 0;
  font-size: 27.2px;
  font-size: 1.7rem;
  font-weight: bolder;
}
.artist {
  margin: 0 7.5% 20px 7.5%;
  font-size: 16.8px;
  font-size: 1.05rem;
}
.go-share {
  cursor: pointer;
}
.caution {
  padding: 0 7.5%;
}
.caution > p {
  line-height: 20.8px;
  line-height: 1.3rem;
  font-size: 15.2px;
  font-size: 0.95rem;
  font-weight: 400;
}
.caution > p > a {
  color: rgba(94, 134, 255, 0.8);
  font-weight: bolder;
  transition: color 0.2s linear;
}
.caution > p > a:hover {
  color: rgba(94, 134, 255, 1.0);
}
.go-origin {
  margin: 10px 10% 0 10%;
  width: 80%;
}

/* media query */
@media all and (min-width: 486px) {
  .art {
    max-height: 1100px;
  }
  .artist {
    margin: 0 7.5% 30px 7.5%;
  }
  #share-box {
    margin: 25px 20% 30px 20%;
    width: 60%;
  }
  .hash {
    padding: 20px 7.5% 0;
  }
  .artist {
    font-size: 17.6px;
    font-size: 1.1rem;
  }
  .caution {
    padding: 5px 7.5%;
  }
  .caution > p {
    line-height: 24px;
    line-height: 1.5rem;
    font-size: 16px;
    font-size: 1rem;
  }
}

@media all and (min-width: 768px) {
  #score-box > .point {
    font-size: 72px;
    font-size: 4.5rem;
  }
  .pin {
    width: 40px; 
    height: 40px;
  }
  .art {
    max-height: 1500px;
  }
  .desc {
    margin: 30px 7.5%;
    line-height: 32px;
    line-height: 2rem;
    font-size: 19.2px;
    font-size: 1.2rem;
  }
  #share-box {
    margin: 25px 30% 30px 30%;
    width: 40%;
  }
  .hash {
    padding: 25px 7.5% 0;
    font-size: 17.6px;
    font-size: 1.1rem;
  }
  .btn {
    margin: 0 30% 10px 30%;
  }
  #intro-box {
    padding-top: 45px;
  }
  .art-name {
    margin: 20px 0 25px 0;
  }
  .artist {
    margin-bottom: 40px;
  }
  .caution {
    padding: 10px 7.5%;
  }
  .caution > p {
    line-height: 27.2px;
    line-height: 1.7rem;
    font-size: 17.6px;
    font-size: 1.1rem;
  }
  .go-origin {
    margin: 20px 30% 0 30%;
    width: 40%;
  }
}

@media all and (min-width: 1024px) {
  #score-box > .point {
    font-size: 80px;
    font-size: 5rem;
  }
  .pin {
    width: 50px; 
    height: 50px;
  }
  .art {
    margin: 0 5% 50px 5%;
    width: 90%;
    max-height: 2000px;
  }
  .desc {
    font-size: 20.8px;
    font-size: 1.3rem;
  }
  .go-artist {
    font-size: 17.6px;
    font-size: 1.1rem;
  }
  .caution {
    padding: 15px 7.5%;
  }
  .hash {
    font-size: 19.2px;
    font-size: 1.2rem;
  }
  #share-box {
    margin: 25px 35% 30px 35%;
    width: 30%;
  }
  .btn {
    margin: 0 35%;
    width: 30%;
  }
  .btn > a {
    font-size: 16px;
    font-size: 1rem;
  }
  #intro-box {
    padding-top: 20px;
  }
  .art-name {
    margin: 20px 0 35px 0;
  }
  .go-origin {
    margin: 25px 35% 0 35%;
  }
}

@media all and (min-width: 1440px) {
  #score-box > .point {
    font-size: 88px;
    font-size: 5.5rem;
  }
  .art {
    max-height: 2000px;
  }
  .desc {
    margin: 35px 5% 50px 5%;
    width: 90%;
    line-height: 33.6px;
    line-height: 2.1rem;
    font-size: 22.4px;
    font-size: 1.4rem;
  }
  .caution {
    padding: 20px 10%;
  }
  .caution > p {
    line-height: 28.8px;
    line-height: 1.8rem;
    font-size: 19.2px;
    font-size: 1.2rem;
  }
}